#calculator {
  width: 400px;
  height: 50vh;
  border: 4px solid black;
  margin: 0 auto;
  padding: 2em;
  display: grid;
  gap: 1em 1em;
  grid: 25px 75px / repeat(5, 1fr);
}

.screen {
  border: 2px solid black;
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  text-align: end;
  padding: 1em 0.5em 0;
}

.equal-btn {
  grid-column: 5 / 6;
  grid-row: 5 / 7;
}

.history-display {
  flex: 0 30%;
}

.input-display {
  flex: 1;
  font-size: 3em;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

[data-button-type="clear"] {
  grid-column: 1 / 3;
}
