#container {
  height: 50vh;
  width: 50vh;
  display: grid;
  margin: 0 auto;
  border: 1px solid black;
}

.square {
  border: 1px solid lightgray;
  box-sizing: content-box;
}

.square.hovered {
  background: black;
}
